@use '../fundation/_mixin.scss' as mix;
@use '../fundation/_variables.scss' as var;


.l-topHeader {
    &-catchCopy {
        &-mainTxt {
            color: #FFF;
            text-align: center;
            font-family: "Noto Serif JP";
            font-size: 4.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-txt {
            color: #FFF;
            text-align: center;
            font-family: "Zen Kaku Gothic New";
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &-btn {
        width: 321px;
        height: 66px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFF;
        background: #413F43;
        color: #FFF;
        font-family: "Zen Kaku Gothic New";
        font-size: 2.2rem;
        font-weight: 400;
        line-height: normal;
    }
}

.l-about {
    color: #FFF;

    &-catchCopy {
        text-align: center;
        font-family: "Noto Serif JP";
        font-size: 5.9rem;
        font-weight: 500;
    }

    &-txt {
        width: 53%;
        margin: 0 auto;
        margin-top: 164px;
        text-align: center;
        font-weight: 400;
        line-height: 2.5;
    }

    &-btn {
        width: 405px;
        height: 63px;
        margin: 82px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFF;
        font-weight: 400;
        line-height: normal;
    }
}

.l-ayurveda {
    &-body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-diagram {
            &-center {
                width: 193.626px;
                height: 489px;
                flex-shrink: 0;
                aspect-ratio: 193.63/489.00;
            }

            &-item {
                font-family: "Noto Serif JP";
                font-size: 1.8rem;
                font-weight: 400;
                line-height: normal;
            }
        }

        &-txt {
            width: 35%;
            font-weight: 400;
            line-height: 2.5;

            &-item2 {
                margin-top: 36px;
            }
        }
    }
}