wp-admin
wp-includes
wp-*.php
**/wp-content/languages
**/wp-content/uploads
**/wp-content/upgrade
**/wp-content/plugins
wp-content/themes/ayuweda/assets/css/style.min.css
!**/wp-content/themes/**
!**/wp-content/themes/*/index.php
ayuweda.git
.htaccess
.DS_Store
style.min.css
index.php
license.txt
readme.html
xmlrpc.php
.vscode/settings.json
wp-content/index.php
wp-content/themes/ayuweda/assets/css/style.min.css.map