//変数で使用 カラーコード等

//* =======================================================
//* color
//* =======================================================
$color-main: #C39B96;
$color-text: #303030;
$color-text2: #CEBEBC;
$color-bg: #F5F5F5;
$color-bg2: #F1EDE9;
$color-border: #7C7C7C;
//* =======================================================
//* font
//* =======================================================
$font-serif: "Noto Serif JP", serif;
$font-sans: "Noto Sans JP", sans-serif;
$font-cinzel: "Cinzel", serif;
$font-chonburi: "Chonburi", serif;